.row
  .col-md-8.col-md-offset-2
    .panel.panel-success
      .panel-heading.text-center
        .row
          .col-md-4
            h2.text-center
              = t(:my_ads)
          = render "search_and_filter", path: user_ads_ads_path
      .panel-body
        #search-results
          = render("results")