@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.navbar {
  margin-bottom: 0px;
}

#ads-table, #search-results {
  margin-top: 20px;
}
